html {
    font-size: 15px;
    font-family: 'Fredoka One', cursive;
    background-color: #9B938C;
}
body {
    width: 600px;
    margin: 0 auto;
    background-color: #939B8C;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}
h1 {
    margin: 0;
    padding: 20px 0;    
    color: #9B938C;
    text-shadow: 3px 3px 10px black;
  }

p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

img {
    width: 400px;
    display: block;
    margin: 0 auto;
}